::-webkit-scrollbar {
    width: 5px;
    background: transparent;

    /* make scrollbar transparent */
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    outline: 1px solid slategrey;
}

body {
    margin: 0;
    padding: 0;
    font-family: $Roboto;
    font-style: normal;
}

html {
    font-family: $Roboto !important;
    font-style: normal;
    font-size: 16px;
}

@media screen and (max-width: 840px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 360px) {
    html {
        font-size: 12px;
    }
}

h1 {
    font-weight: bold;
    // 42px on base of 16px;
    font-size: 2.583rem;
    line-height: 175%;
}

h2 {
    // font-weight: bold;
    // 36px on base of 16px;
    font-size: 2.25rem;
}

h3 {
    // font-weight: bold;
    // 30px on base of 16px;
    // TODO: Add Roboto thin
    font-size: 1.875rem;
}

h4 {
    // reserved for table titles
    // font-weight: bold;
    // 24px on base of 16px;
    font-size: 1.5rem;
    font-family: $Roboto-Condensed !important;
    line-height: 150%;
}

h5 {
    // font-weight: bold;
    // 18px on base of 16px;
    font-size: 1.125rem;
}

h6 {
    // font-weight: bold;
    // 14px on base of 16px;
    line-height: 175%;
    font-size: 0.875rem;
}

p {
    line-height: 200%;
    // 14px on base of 16px;
    font-size: 0.875rem;
}

pre {
    font-family: inherit;
    white-space: pre-wrap;
    line-height: 200%;
    font-size: 0.875rem;
}
