//fonts
$Roboto: "Roboto", sans-serif;
$Roboto-Condensed: "Roboto Condensed", sans-serif;

// Creating grayscale
$bright-gray: #eeeeee;
$chinese-silver: #cccccc;
$spanish-gray: #999999;
$granite-gray: #666666;
$dark-charcoal: #333333;
