//fonts
$Roboto: "Roboto", sans-serif;
$Roboto-Condensed: "Roboto Condensed", sans-serif;

// Creating grayscale
$bright-gray: #eeeeee;
$chinese-silver: #cccccc;
$spanish-gray: #999999;
$granite-gray: #666666;
$dark-charcoal: #333333;

$gradient-gray-1: #bdc3c7;
$gradient-gray-2: #2c3e50;

$black-2: #020202;
$black-1: #1b1b1b;
