.app-cart-container {
    @mixin custom-hr($content: "", $width: inherit) {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: 0.5;
        width: $width;
        &:before {
            content: "";
            background: linear-gradient(to right, transparent, #818078, transparent);
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 1px;
        }
        &:after {
            content: $content;
            position: relative;
            display: inline-block;
            color: black;
            padding: 0 0.5em;
            line-height: 1.5em;
            background-color: $bright-gray;
        }
    }
    .total-cost-hr {
        @include custom-hr("Total Cost");
    }
    .added-items-hr {
        @include custom-hr("Added Items");
    }
    .removed-items-hr {
        @include custom-hr("Removed Items");
    }
    .custom-vl {
        @include custom-hr("", 4rem);
        transform: rotate(90deg);
    }
}
