.app-layout {
    background-color: $bright-gray;
    height: 100vh;
    overflow: auto;
    .main-container {
        width: 90vw;
        margin: 60px auto 0 auto;
        max-width: 1250px;
        min-height: calc(100vh - 120px);
    }
    .header-container {
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    .content-container {
        padding: 2rem 1rem 4rem 1rem;
        margin: 1.5rem 0;
        min-height: 80vh;
    }
}

.app-header {
    height: 60px;
    padding: 1rem 2rem;
    background-image: linear-gradient(to right, $gradient-gray-1, $gradient-gray-2);
    .name {
        cursor: pointer;
        font-size: 20px;
        letter-spacing: 5px;
        text-shadow: -1px -1px 3px $dark-charcoal, 2px 2px 4px $black-1;
        @media only screen and (max-width: 500px) {
            font-size: 16px;
        }
        @media only screen and (max-width: 350px) {
            font-size: 12px;
        }
    }
}

.app-footer {
    height: 60px;
}
