.app-layout {
    background-color: $bright-gray;
    height: 100vh;
    overflow: auto;
    .main-container {
        width: 90vw;
        margin: 60px auto 0 auto;
        max-width: 1250px;
        min-height: calc(100vh - 120px);
    }
    .header-container {
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    .content-container {
        padding: 2rem 1rem;
        margin: 1.5rem 0;
    }
}

.app-header {
    height: 60px;
    padding: 1rem 2rem;
    background-image: linear-gradient(to right, $gradient-gray-1, $gradient-gray-2);
    .name {
        font-size: 20px;
        letter-spacing: 5px;
        text-shadow: -1px -1px 3px $dark-charcoal, 2px 2px 4px $black-1;
        // color: $bright-gray;
        // text-shadow: 0 2px 1px #747474, -1px 3px 1px #767676, -2px 5px 1px #787878, -3px 7px 1px #7a7a7a,
        //     -4px 9px 1px #7f7f7f, -5px 11px 1px #838383, -6px 13px 1px #878787, -7px 15px 1px #8a8a8a,
        //     -8px 17px 1px #8e8e8e, -9px 19px 1px #949494, -10px 21px 1px #989898, -11px 23px 1px #9f9f9f,
        //     -12px 25px 1px #a2a2a2, -13px 27px 1px #a7a7a7, -14px 29px 1px #adadad, -15px 31px 1px #b3b3b3,
        //     -16px 33px 1px #b6b6b6, -17px 35px 1px #bcbcbc, -18px 37px 1px #c2c2c2, -19px 39px 1px #c8c8c8,
        //     -20px 41px 1px #cbcbcb, -21px 43px 1px #d2d2d2, -22px 45px 1px #d5d5d5, -23px 47px 1px #e2e2e2,
        //     -24px 49px 1px #e6e6e6, -25px 51px 1px #eaeaea, -26px 53px 1px #efefef;
    }
}

.app-footer {
    height: 60px;
}
